*.gz
*.pdf
*.bz2
*.mat
Pictures
Old/Somme AE
Old/PFE/Screenshots/
Old/PCA+examples
CL avelanche checkpoints
Old/PFE/Code/NeurIPS_2022-Generative_Hyper_Representations/        
!Old/PFE/Code/NeurIPS_2022-Generative_Hyper_Representations/examples
!Old/PFE/Code/NeurIPS_2022-Generative_Hyper_Representations/HGS zoo acc.odt      
Old/PFE/Article
Old/PFE/Code/NeurIPS_2021-Weight_Space_Learning/
New/data/SplitMnist
New/data/checkpoints
